In [1]:
import pandas as pd
import numpy as np
# 创建一个Series
# s1=pd.Series(data=[3,-5,7,4],index=['a','b','c','d'])
s1=pd.Series(data=[3,-5,7,4],index=list('abcd'))
s1

a    3
b   -5
c    7
d    4
dtype: int64

In [5]:
# 访问Series
# s1[0]
# s1['a']
s1[['a','b']]

a    3
b   -5
dtype: int64

In [9]:
# 创建一个DataFrame
date = pd.date_range('20100101',periods=6)
# date
df = pd.DataFrame(data=np.random.randn(6,4),index=date,columns=list('abcd'))
df

                   a         b         c         d
2010-01-01  0.606966  1.123914  1.243857 -0.729991
2010-01-02  1.059342  0.620376  1.880293 -0.308032
2010-01-03 -0.852555 -0.494134 -0.610742 -0.673444
2010-01-04 -0.924548 -0.093381  2.361965  0.610425
2010-01-05  0.782361 -0.531747 -1.858280  0.351308
2010-01-06  1.437792  0.653692 -0.180225 -1.039787