In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,1,2,2],
                'B':[3,4,3,4],
                'C':np.random.randn(4)})
df

   A  B         C
0  1  3 -0.207407
1  1  4  0.281287
2  2  3  1.635716
3  2  4 -0.293817

In [12]:
# 按照A列分组,求B最小值
# df1=df.groupby(by='A')['B'].min()
# 按照A列分组,求剩余数值型数据求最小值
# df1=df.groupby(by='A')['B'].min()
# 按照A,B两列分组,对C求最小值
df1=df.groupby(by=['A','B']).min()
df1

            C
A B
1 3 -0.207407
  4  0.281287
2 3  1.635716
  4 -0.293817

In [21]:
# 按照A列分组,对B求最大值和最小值,对C求和
df2=df.groupby(by='A').agg({'B':['max','min'],'C':'sum'})
df2

# 按照A列分组,求剩余数据最大值和最小值
# df3=df.groupby(by='A').agg(['max','min'])
# df3

    B             C
  max min       sum
A
1   4   3  0.073880
2   4   3  1.341899