In [1]:
import pandas as pd
import numpy as np
# 1.Series创建
s1=pd.Series(data=[3,-5,'b',4],index=['a','b','c','d'])
print(s1)
# 2.创建一组DataFrame数据-date_range创建时间
date=pd.date_range('20100101',periods=6)
# print(date)
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list('abcd'))
df

a     3
b    -5
c     b
d     4
dtype: object

                   a         b         c         d
2010-01-01  0.362664  1.335612  0.978128 -0.792396
2010-01-02  1.452076 -1.335964  0.024806 -1.776338
2010-01-03 -0.163586  0.125601  0.735637 -1.431736
2010-01-04 -0.783357 -0.806003  0.973843 -0.843180
2010-01-05  0.581882  0.215377  0.716220 -0.120059
2010-01-06 -0.303284  1.818543  0.522615 -0.574072

In [13]:
# 查看基本数据
# print(df.values)
# print(df.index)
# print(df.ndim)
# print(df.shape)
# print(df.dtypes)
# print(df.size)
# print(df.columns)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
# 数据完整性数据
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2010-01-01 to 2010-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       6 non-null      float64
 1   b       6 non-null      float64
 2   c       6 non-null      float64
 3   d       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [2]:
# 读取a列数据
df.a

2010-01-01    0.362664
2010-01-02    1.452076
2010-01-03   -0.163586
2010-01-04   -0.783357
2010-01-05    0.581882
2010-01-06   -0.303284
Freq: D, Name: a, dtype: float64

In [3]:
# 方法2
df['a']

2010-01-01    0.362664
2010-01-02    1.452076
2010-01-03   -0.163586
2010-01-04   -0.783357
2010-01-05    0.581882
2010-01-06   -0.303284
Freq: D, Name: a, dtype: float64

In [ ]:
# 读取a,b两列数据
df_ab = df[['a','b']]
print