In [12]:
import pandas as pd  
df = pd.DataFrame([  
            ['green','M','10.2','class1'],
            ['red','L','13.5','class2'],  
            ['blue','XL','15.3','class1'],  
           ])  
df.columns = ['color','size','prize','class label'] 
df

   color size prize class label
0  green    M  10.2      class1
1    red    L  13.5      class2
2   blue   XL  15.3      class1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
color          3 non-null object
size           3 non-null object
prize          3 non-null object
class label    3 non-null object
dtypes: object(4)
memory usage: 176.0+ bytes

In [14]:
size_mapping={'M':1,'L':2,'XL':3}
df['size']=df['size'].map(size_mapping)

In [15]:
df

   color  size prize class label
0  green     1  10.2      class1
1    red     2  13.5      class2
2   blue     3  15.3      class1

In [16]:
pd.get_dummies(df)

,size,color_blue,color_green,color_red,prize_10.2,prize_13.5,prize_15.3,class label_class1,class label_class2
0,1,0,1,0,1,0,0,1,0
1,2,0,0,1,0,1,0,0,1
2,3,1,0,0,0,0,1,1,0

In [17]:
for idx,label in enumerate(set(df['class label'])):
    print(idx,label)

0 class2
1 class1

In [18]:
class_mapping={label:idx for idx,label in enumerate(set(df['class label']))}
class_mapping

{'class1': 1, 'class2': 0}

In [19]:
df['class label']=df['class label'].map(class_mapping)

In [20]:
df

   color  size prize  class label
0  green     1  10.2            1
1    red     2  13.5            0
2   blue     3  15.3            1

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
color          3 non-null object
size           3 non-null int64
prize          3 non-null object
class label    3 non-null int64
dtypes: int64(2), object(2)
memory usage: 176.0+ bytes

In [22]:
pd.get_dummies(df)

,size,class label,color_blue,color_green,color_red,prize_10.2,prize_13.5,prize_15.3
0,1,1,0,1,0,1,0,0
1,2,0,0,0,1,0,1,0
2,3,1,1,0,0,0,0,1