In [40]:
import numpy as np
import pandas as pd

In [41]:
np.random.seed(123)
df=pd.DataFrame(np.random.randn(4,4)*1000+3)
df

             0            1            2            3
0 -1082.630603  1000.345447   285.978498 -1503.294714
1  -575.600252  1654.436537 -2423.679243  -425.912629
2  1268.936259  -863.740402  -675.886152   -91.708969
3  1494.389626  -635.901997  -440.981960  -431.351276

In [7]:
# df.min()

In [42]:
# 离差标准化
df_norm=(df-df.min())/(df.max()-df.min())
df_norm

          0         1         2         3
0  0.000000  0.740252  1.000000  0.000000
1  0.196751  1.000000  0.000000  0.763242
2  0.912514  0.000000  0.645024  1.000000
3  1.000000  0.090478  0.731715  0.759390

In [43]:
df.mean()

0    276.273757
1    288.784896
2   -813.642214
3   -613.066897
dtype: float64

In [44]:
df[0].mean()

276.2737573901811

In [48]:
# 标准差标准化
df_norm2=(df-df.mean())/df.std()
df_norm2

          0         1         2         3
0 -1.048262  0.577489  0.957189 -1.448999
1 -0.657138  1.108336 -1.401492  0.304626
2  0.765742 -0.935367  0.119913  0.848600
3  0.939657 -0.750458  0.324390  0.295774

In [58]:
df_norm2[0].std()

1.0