In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(1)
df = pd.DataFrame(np.random.randn(4, 4)*4 + 3)
df

          0         1         2         3
0  9.497381  0.552974  0.887313 -1.291874
1  6.461631 -6.206155  9.979247 -0.044828
2  4.276156  2.002518  8.848432 -5.240563
3  1.710331  1.463783  7.535078 -1.399565

In [4]:
# 离差标准化
df_norm=(df-df.min())/(df.max()-df.min())
df_norm

          0         1         2         3
0  1.000000  0.823413  0.000000  0.759986
1  0.610154  0.000000  1.000000  1.000000
2  0.329499  1.000000  0.875624  0.000000
3  0.000000  0.934370  0.731172  0.739260

In [5]:
# 标准差标准化
df_norm1=(df-df.mean())/(df.std())
df_norm1

          0         1         2         3
0  1.213741  0.287871 -1.454237  0.312166
1  0.295115 -1.481492  0.777218  0.866440
2 -0.366215  0.667324  0.499679 -1.442906
3 -1.142640  0.526297  0.177340  0.264301